@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Inicio - OpLawyers</PageTitle>

<style>
    .content-wrapper {
        background-color: #ffffff !important;
    }

    .about, .service, .feature, .team, .faqs {
        background-color: #ffffff !important;
    }
</style>
<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/carousel-1.jpg" alt="Carousel Image">
            <div class="carousel-caption">
                <h1 class="animated fadeInLeft">Servicios Legales de Excelencia</h1>
                <p class="animated fadeInRight">Comprometidos con la justicia y la defensa de tus derechos</p>
                <AuthorizeView>
                    <NotAuthorized>
                        <a class="btn animated fadeInUp" href="Account/Register">Regístrate Ahora</a>
                    </NotAuthorized>
                </AuthorizeView>
                <AuthorizeView Roles="Administrador">
                    <Authorized>
                        <a class="btn animated fadeInUp" href="/casos/admin">Gestión de Casos</a>
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView Roles="Cliente">
                    <Authorized>
                        <a class="btn animated fadeInUp" href="/mis-casos">Ver Mis Casos</a>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="about-img">
                    <img src="img/about.jpg" alt="Image">
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="section-header">
                    <h2>Acerca de OpLawyers</h2>
                </div>
                <div class="about-text">
                    <p>
                        Somos una firma legal comprometida con la excelencia en el servicio. Nuestro equipo de
                        abogados experimentados está dedicado a proporcionar soluciones legales efectivas y
                        personalizadas para cada cliente.
                    </p>
                    <p>
                        Con años de experiencia en diversas áreas del derecho, ofrecemos representación legal
                        de la más alta calidad. Nuestra misión es proteger sus derechos y obtener los mejores
                        resultados posibles en cada caso.
                    </p>
                    <AuthorizeView>
                        <NotAuthorized>
                            <a class="btn" href="Account/Register">Comienza Ahora</a>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service">
    <div class="container">
        <div class="section-header">
            <h2>Nuestras Áreas de Práctica</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-landmark"></i>
                    </div>
                    <h3>Derecho Civil</h3>
                    <p>
                        Representación en disputas civiles, contratos, daños y perjuicios,
                        y asuntos relacionados con propiedad.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-gavel"></i>
                    </div>
                    <h3>Derecho Penal</h3>
                    <p>
                        Defensa experta en casos criminales, desde delitos menores hasta
                        casos complejos de alto perfil.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>Derecho Familiar</h3>
                    <p>
                        Asistencia en divorcios, custodia de menores, adopciones y
                        otros asuntos familiares sensibles.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-hand-holding-usd"></i>
                    </div>
                    <h3>Derecho Comercial</h3>
                    <p>
                        Asesoramiento integral para empresas, contratos comerciales,
                        fusiones y adquisiciones.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-balance-scale"></i>
                    </div>
                    <h3>Derecho Laboral</h3>
                    <p>
                        Protección de derechos laborales, despidos injustificados,
                        discriminación y acoso laboral.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-file-contract"></i>
                    </div>
                    <h3>Derecho Inmobiliario</h3>
                    <p>
                        Transacciones de bienes raíces, arrendamientos, disputas de propiedad
                        y zonificación.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="section-header">
                    <h2>¿Por Qué Elegirnos?</h2>
                </div>
                <div class="row counters">
                    <div class="col-6">
                        <i class="fa fa-user"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">500</h2>
                            <p>Clientes Satisfechos</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa fa-gavel"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">800</h2>
                            <p>Casos Ganados</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa fa-users"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">25</h2>
                            <p>Abogados Expertos</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <i class="fa fa-trophy"></i>
                        <div class="counters-text">
                            <h2 data-toggle="counter-up">50</h2>
                            <p>Premios Ganados</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="feature-img">
                    <img src="img/feature.jpg" alt="Feature">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team">
    <div class="container">
        <div class="section-header">
            <h2>Nuestro Equipo Legal</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-1.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dr. Juan Pérez</h2>
                        <p>Derecho Civil y Comercial</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dr. Mario González</h2>
                        <p>Derecho Penal</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dra. Claudia Rodríguez</h2>
                        <p>Derecho Familiar</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="img/team-4.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dr. Carlos Martínez</h2>
                        <p>Derecho Laboral</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code{

}